* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: #f2f2f2;
}

.container {
    max-width: 1240px;
    margin: auto;
    padding: 20px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.brand {
    display: flex;
    align-items: center;
    gap: 15px;
}

.brand-logo {
    width: 50px;
}

.brand_title {
    font-size: 28px;
    font-weight: bold;
}

.btn {
    border: none;
    padding: 10px 18px;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
}

.btn-danger {
    background: #e53935;
    color: white;
}

.grid {
    display: grid;
    gap: 20px;
    margin-top: 20px;

    grid-template-columns: 1fr;
}

@media (min-width: 640px) {
    .grid {
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 1024px) {
    .grid {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (min-width: 1240px) {
    .grid {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

.card {
    background: #e5e5e5;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.card img {
    width: 100%;
    height: 220px;
    object-fit: contain;
    background: #eee;
}

.card-title {
    background: #ddd;
    padding: 12px;
    font-weight: bold;
}
